body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Fondo beige claro */
    color: #000; /* Texto en negro */
}

header {
    background-color: #d2b48c; /* Marrón claro para el encabezado */
    color: #000;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.project {
    background-color: #fff; /* Fondo blanco para cada proyecto */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.project h2 {
    margin-top: 0;
}

.project a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #000; /* Color del texto del enlace */
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

footer {
    background-color: #d2b48c; /* Marrón claro para el pie de página */
    color: #000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
