/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Tipografía de palo seco */
    background-color: #f0f0f0; /* Color de fondo gris claro */
    color: #333; /* Color de texto gris oscuro */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    color: #000; /* Color de texto negro */
}

/* Estilos para enlaces */
a {
    color: #555; /* Color de enlaces gris oscuro */
    text-decoration: none;
}

a:hover {
    color: #777; /* Color de enlaces gris un poco más claro al pasar el ratón */
}

/* Estilos para botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Color de fondo negro */
    color: #fff; /* Color de texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #333; /* Color de fondo gris oscuro al pasar el ratón */
}

/* Estilos para elementos de formulario */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
}

/* Estilos para botones de formulario */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #000; /* Color de fondo negro */
    color: #fff; /* Color de texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333; /* Color de fondo gris oscuro al pasar el ratón */
}
