---
const basePath = '/portfolio';
---
<figure class="closing-banner">
  <div class="img-wrap">
    <img
      src={`${basePath}/img/banner-roque-muchachos.jpg`}
      alt="Mar de nubes desde el Roque de los Muchachos, La Palma. Vista desde el entorno del Observatorio del Roque de los Muchachos, donde se ubica el Gran Telescopio Canarias (GTC)."
      loading="lazy"
      decoding="async"
    />
  </div>
  <figcaption>
    ROQUE DE LOS MUCHACHOS · LA PALMA · 2428 <span data-en="MASL" data-es="MSNM">MASL</span>
  </figcaption>
</figure>
